//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 07 11:40:11 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clear_screen" LOCATE = SITE "AA10" LEVEL 1;
COMP "HS" LOCATE = SITE "M22" LEVEL 1;
COMP "VS" LOCATE = SITE "M21" LEVEL 1;
COMP "R<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "R<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "R<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "R<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "SEGLED_CLK" LOCATE = SITE "M24" LEVEL 1;
COMP "SEGLED_CLR" LOCATE = SITE "M20" LEVEL 1;
COMP "buzzer" LOCATE = SITE "AF24" LEVEL 1;
COMP "KeyX<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "KeyX<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "KeyX<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "KeyX<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "B<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "B<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "B<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "B<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "G<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "G<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "G<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "G<3>" LOCATE = SITE "T25" LEVEL 1;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "SEGLED_PEN" LOCATE = SITE "R18" LEVEL 1;
COMP "LEDB0" LOCATE = SITE "V22" LEVEL 1;
COMP "LEDB1" LOCATE = SITE "V23" LEVEL 1;
COMP "LEDG0" LOCATE = SITE "U22" LEVEL 1;
COMP "LEDG1" LOCATE = SITE "U25" LEVEL 1;
COMP "LEDR0" LOCATE = SITE "U21" LEVEL 1;
COMP "LEDR1" LOCATE = SITE "U24" LEVEL 1;
COMP "KeyY<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "KeyY<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "SEGLED_DO" LOCATE = SITE "L24" LEVEL 1;
COMP "KeyY<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "KeyY<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "KeyY<0>" LOCATE = SITE "V17" LEVEL 1;
SCHEMATIC END;

